#casos.csv				 
#merge.csv
#casos_se.csv				 
#merge_novo.csv
#dado_rede_neural.csv			 
#merge_se.csv
drive-download-20240224T013808Z-001.zip  
prec.monthly.anom.nc
#focos_dive_2012.csv			 
prec_sc_2000_2022.nc
#focos_dive_2013.csv			 
#README.md
#focos_dive_2014.csv			 
#samet_tmax.csv
#focos_dive_2015.csv			 
#samet_tmed.csv
#focos_dive_2016.csv			 
#samet_tmin.csv
#focos_dive_2017.csv			 
SC_Municipios_2022.cpg
focos_dive_2018.csv			 
SC_Municipios_2022.dbf
focos_dive_2019.csv			 
SC_Municipios_2022.prj
focos_dive_2020.csv			 
SC_Municipios_2022.shp
focos_dive_2021.csv			 
SC_Municipios_2022.shx
focos_dive_2022_01.csv			 
#serie_casos_sc.csv
#focos_dive_2022_02.csv			 
#serie_focosdia_sc.csv
#focos_dive_total.csv			 
#tmax.csv
#focos_pivot.csv				 
#tmax_se.csv
focos_se_dive.csv			 
#tmed.csv
#focos_timespace_centroide.csv		 
#tmed_se.csv
#focos_timespace_xy.csv			 
#tmin.csv
#lista_municipios.csv			 
#tmin_se.csv

